*.o
*.db
TestAS2IPDb
TestAS2Ipv4Net
TestAS2Ipv6Net
TestCaidaV4Routeviews
TestCaidaV6Routeviews
TestConfig
TestIpv4Net2AS
TestIpv6Net2AS
TestMessage
TestMessageHeader
TestOriginPrefix
TestOriginRequest
TestOriginResponse
TestRipeAsnTxt
